<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <h3 class="text-center text-primary">Login</h3>
    <div class="form-group">
        <label for="username">Username:</label>
        <input #username="ngModel" type="text" ngModel name="username" required class="form-control">
        <span class="text-danger" *ngIf="username.touched && !username.valid">enter username</span>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input #password type="password" [ngModel]="password" name="password" required minlength="3" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign In</button>
</form>
